html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Visuelt Pro", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }
  ul li {
    position: relative; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer; }

li, a, span {
  display: inline-block; }

img {
  width: 100%;
  user-select: none; }

.text-w {
  color: #fff; }

.text-b {
  color: #333333; }

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .bg > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; }

.figure_1 {
  position: absolute; }
  .figure_1:before {
    content: "";
    position: absolute;
    background-color: #9e1260;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0; }
  .figure_1:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 12px;
    height: 12px;
    left: 24px;
    top: 24px; }

* {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.25; }

a, button, svg, img {
  transition: all 0.15s linear; }

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  position: relative;
  z-index: 1;
  overflow: hidden; }

section {
  position: relative;
  z-index: 1;
  transition: all 0.2s linear; }

.wrapper {
  width: 1416px;
  margin: 0 auto;
  position: relative;
  z-index: 5; }

@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Medium.eot");
  src: local("VisueltPro-Medium"), url("VisueltPro-Medium.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Medium.woff2") format("woff2"), url("VisueltPro-Medium.woff") format("woff"), url("VisueltPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Regular.eot");
  src: local("VisueltPro-Regular"), url("VisueltPro-Regular.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Regular.woff2") format("woff2"), url("VisueltPro-Regular.woff") format("woff"), url("VisueltPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Bold.eot");
  src: local("VisueltPro-Bold"), url("VisueltPro-Bold.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Bold.woff2") format("woff2"), url("VisueltPro-Bold.woff") format("woff"), url("VisueltPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-ExtraLight.eot");
  src: local("VisueltPro-ExtraLight"), url("VisueltPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("VisueltPro-ExtraLight.woff2") format("woff2"), url("VisueltPro-ExtraLight.woff") format("woff"), url("VisueltPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Thin.eot");
  src: local("VisueltPro-Thin"), url("VisueltPro-Thin.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Thin.woff2") format("woff2"), url("VisueltPro-Thin.woff") format("woff"), url("VisueltPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Italic.eot");
  src: local("VisueltPro-Italic"), url("VisueltPro-Italic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Italic.woff2") format("woff2"), url("VisueltPro-Italic.woff") format("woff"), url("VisueltPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-ExtraLightItalic.eot");
  src: local("VisueltPro-ExtraLightItalic"), url("VisueltPro-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-ExtraLightItalic.woff2") format("woff2"), url("VisueltPro-ExtraLightItalic.woff") format("woff"), url("VisueltPro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-BoldItalic.eot");
  src: local("VisueltPro-BoldItalic"), url("VisueltPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-BoldItalic.woff2") format("woff2"), url("VisueltPro-BoldItalic.woff") format("woff"), url("VisueltPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Black.eot");
  src: local("VisueltPro-Black"), url("VisueltPro-Black.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Black.woff2") format("woff2"), url("VisueltPro-Black.woff") format("woff"), url("VisueltPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-MediumItalic.eot");
  src: local("VisueltPro-MediumItalic"), url("VisueltPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-MediumItalic.woff2") format("woff2"), url("VisueltPro-MediumItalic.woff") format("woff"), url("VisueltPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Light.eot");
  src: local("VisueltPro-Light"), url("VisueltPro-Light.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Light.woff2") format("woff2"), url("VisueltPro-Light.woff") format("woff"), url("VisueltPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-BlackItalic.eot");
  src: local("VisueltPro-BlackItalic"), url("VisueltPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-BlackItalic.woff2") format("woff2"), url("VisueltPro-BlackItalic.woff") format("woff"), url("VisueltPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-LightItalic.eot");
  src: local("VisueltPro-LightItalic"), url("VisueltPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-LightItalic.woff2") format("woff2"), url("VisueltPro-LightItalic.woff") format("woff"), url("VisueltPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-ThinItalic.eot");
  src: local("VisueltPro-ThinItalic"), url("VisueltPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-ThinItalic.woff2") format("woff2"), url("VisueltPro-ThinItalic.woff") format("woff"), url("VisueltPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
header {
  position: absolute;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
  header * {
    line-height: 1.3;
    font-weight: 500; }
  header .wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 20px; }
  header .fa-chevron-down {
    position: absolute;
    left: 50%;
    bottom: -19px;
    transform: translate(-50%, 0);
    font-size: 16px;
    font-weight: normal; }
  header .left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .logo {
    width: 235px;
    height: 46px; }
  header .hamburger {
    width: 60px;
    height: 33px;
    margin: 0 48px 0 95px; }
  header .navigation li {
    font-size: 20px;
    font-weight: 500;
    position: relative; }
  header .navigation li:not(:first-child) {
    margin-left: 48px; }
  header .right {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .contact_phone {
    position: relative; }
    header .contact_phone span {
      font-size: 24px; }
  header .consult {
    margin-left: 48px;
    font-size: 24px;
    padding: 8px 0;
    border-bottom: 2px solid #fff; }
  header .languages {
    margin-left: 96px;
    position: relative; }
    header .languages li {
      font-size: 20px; }

section.banner {
  height: 960px;
  background-color: #333333; }
  section.banner > img {
    opacity: 0.7; }

footer {
  background-image: url("../img/footer_bg.png");
  background-color: #333333; }
  footer .wrapper {
    padding-top: 120px; }
  footer .clients {
    padding-bottom: 60px;
    position: relative; }
    footer .clients h2 {
      font-size: 72px;
      font-weight: bold; }
    footer .clients .slick_lg {
      padding-top: 60px;
      overflow: hidden; }
    footer .clients img {
      width: 216px;
      height: 120px;
      padding: 12px 18px;
      margin: 0 12px;
      background-color: #fff; }
    footer .clients button {
      position: absolute;
      top: 45px;
      right: 0; }
      footer .clients button:nth-of-type(1) {
        transform: translate(-78px, -50%); }
      footer .clients button:nth-of-type(2) {
        transform: translate(0, -50%); }
      footer .clients button i {
        font-size: 36px;
        font-weight: normal; }
  footer nav {
    display: flex;
    padding: 60px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    footer nav h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.25; }
    footer nav ul {
      margin-top: 24px; }
    footer nav li {
      display: flex;
      align-items: center; }
      footer nav li:not(:first-child) {
        margin-top: 16px; }
    footer nav a {
      font-size: 20px;
      line-height: 1.3;
      color: #bcbcbc; }
    footer nav > div {
      padding: 48px 0 0 36px;
      position: relative; }
      footer nav > div:nth-child(1) {
        width: 25%; }
      footer nav > div:nth-child(2) {
        width: 42%;
        padding: 48px 18% 0 36px; }
      footer nav > div:nth-child(3) ul {
        margin-top: 0; }
      footer nav > div:nth-child(3) li, footer nav > div:nth-child(3) a {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.25; }
      footer nav > div:nth-child(3) li:last-child a:not(:first-child) {
        margin-left: 18px; }
      footer nav > div .figure_1 {
        left: 0;
        top: 0; }
  footer .copyright {
    padding: 60px 0;
    display: flex;
    align-items: center;
    color: #bcbcbc;
    font-size: 20px; }
    footer .copyright span:nth-child(1) {
      width: 25%; }
    footer .copyright span:nth-child(2) {
      width: 40%; }
