html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Visuelt Pro", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }
  ul li {
    position: relative; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0; }

li, a, span {
  display: inline-block; }

img {
  width: 100%;
  user-select: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

svg {
  width: 100%; }
  svg:not(.native) {
    fill: inherit; }
    svg:not(.native) g, svg:not(.native) path {
      fill: inherit; }

.text-w {
  color: #fff; }
  .text-w h3 > a, .text-w .watch_all_mobile {
    border-color: #fff; }

.text-b {
  color: #333333; }
  .text-b h3 > a {
    border-color: #333333; }

.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .bg > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; }

.bg-w {
  background-color: #fff; }

.figure_1 {
  position: absolute; }
  .figure_1:before {
    content: "";
    position: absolute;
    background-color: #9e1260;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0; }
  .figure_1:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 12px;
    height: 12px;
    left: 24px;
    top: 24px; }

.figure_2 {
  position: absolute; }
  .figure_2:before {
    content: "";
    position: absolute;
    background-color: #9e1260;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    transform: translate(-100%, -100%); }

.figure_3 {
  position: absolute;
  left: 0;
  bottom: 0; }
  .figure_3:before {
    content: "";
    position: absolute;
    background-color: #9e1260;
    width: 48px;
    height: 48px;
    left: 0;
    bottom: 0; }
  .figure_3:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 24px;
    height: 24px;
    left: 48px;
    bottom: 48px; }

.figure_4 {
  position: absolute;
  left: 0;
  top: 0; }
  .figure_4:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 72px;
    height: 72px;
    left: 0;
    top: 24px; }
  .figure_4:after {
    content: "";
    position: absolute;
    background-color: #9e1260;
    width: 24px;
    height: 24px;
    left: 72px;
    top: 0; }

.figure_6 {
  position: absolute;
  z-index: 20; }
  .figure_6:before {
    content: "";
    position: absolute;
    background-color: #26a2be;
    width: 72px;
    height: 72px;
    top: 24px;
    right: 24px; }
  .figure_6:after {
    content: "";
    position: absolute;
    background-color: #9e1260;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0; }

.figure_5 {
  position: absolute;
  left: 0;
  top: 0; }
  .figure_5:before {
    content: "";
    position: absolute;
    background-color: #9e1260;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0; }
  .figure_5 > span {
    position: absolute;
    background-color: #fff;
    display: block;
    left: 24px;
    top: 24px;
    padding: 18px;
    color: #999999;
    font-size: 24px;
    line-height: 1;
    width: max-content; }

* {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.25; }

a, button, svg, img {
  transition: all 0.15s linear; }

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #f2f2f2; }
  body:not(.home) {
    padding-top: 85px; }
    body:not(.home)::before {
      content: "";
      background-image: url(../img/keentegro_bg.svg);
      width: 100%;
      display: block;
      height: 377px;
      position: absolute;
      z-index: 2;
      transform: translateY(-24px);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }

section {
  position: relative;
  z-index: 5;
  transition: all 0.2s linear; }
  section:not(.banner) {
    padding: 120px 0; }
  section h3 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section h3 span {
      font-size: 72px; }
    section h3 a {
      font-size: 24px;
      font-weight: 500;
      border-bottom: 2px solid #333333; }
  section .cards {
    margin-top: 60px;
    display: flex;
    position: relative; }
  section .card {
    position: relative; }

.wrapper {
  width: 1416px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5; }

.list_block {
  margin-top: 24px; }
  .list_block h6 {
    font-size: 24px;
    font-weight: normal; }
  .list_block ul {
    margin-top: 18px; }
  .list_block li {
    display: flex;
    align-items: center;
    font-size: 24px; }
    .list_block li:before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-color: #26a2be;
      flex: 0 0 auto;
      margin-right: 24px; }
    .list_block li:not(:first-child) {
      margin-top: 12px; }

.watch_all_mobile {
  display: none;
  margin-top: 36px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #333333; }

nav.pagination {
  margin-top: 90px; }
  nav.pagination ul {
    display: flex;
    align-items: center; }
  nav.pagination li {
    transition: all 0.2s linear;
    position: relative; }
    nav.pagination li:not(:first-child) {
      margin-left: 18px; }
    nav.pagination li > * {
      width: 60px;
      height: 60px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 500;
      user-select: none; }
      nav.pagination li > *.prev i, nav.pagination li > *.next i {
        font-weight: normal; }
      nav.pagination li > *.current {
        background-color: transparent;
        border-bottom: 2px solid #9e1260; }
      nav.pagination li > *:not(.current) {
        cursor: pointer; }
        nav.pagination li > *:not(.current):hover {
          color: #26a2be; }

@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Medium.eot");
  src: local("VisueltPro-Medium"), url("VisueltPro-Medium.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Medium.woff2") format("woff2"), url("VisueltPro-Medium.woff") format("woff"), url("VisueltPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Regular.eot");
  src: local("VisueltPro-Regular"), url("VisueltPro-Regular.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Regular.woff2") format("woff2"), url("VisueltPro-Regular.woff") format("woff"), url("VisueltPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Bold.eot");
  src: local("VisueltPro-Bold"), url("VisueltPro-Bold.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Bold.woff2") format("woff2"), url("VisueltPro-Bold.woff") format("woff"), url("VisueltPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-ExtraLight.eot");
  src: local("VisueltPro-ExtraLight"), url("VisueltPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("VisueltPro-ExtraLight.woff2") format("woff2"), url("VisueltPro-ExtraLight.woff") format("woff"), url("VisueltPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Thin.eot");
  src: local("VisueltPro-Thin"), url("VisueltPro-Thin.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Thin.woff2") format("woff2"), url("VisueltPro-Thin.woff") format("woff"), url("VisueltPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Italic.eot");
  src: local("VisueltPro-Italic"), url("VisueltPro-Italic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Italic.woff2") format("woff2"), url("VisueltPro-Italic.woff") format("woff"), url("VisueltPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-ExtraLightItalic.eot");
  src: local("VisueltPro-ExtraLightItalic"), url("VisueltPro-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-ExtraLightItalic.woff2") format("woff2"), url("VisueltPro-ExtraLightItalic.woff") format("woff"), url("VisueltPro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-BoldItalic.eot");
  src: local("VisueltPro-BoldItalic"), url("VisueltPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-BoldItalic.woff2") format("woff2"), url("VisueltPro-BoldItalic.woff") format("woff"), url("VisueltPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Black.eot");
  src: local("VisueltPro-Black"), url("VisueltPro-Black.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Black.woff2") format("woff2"), url("VisueltPro-Black.woff") format("woff"), url("VisueltPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-MediumItalic.eot");
  src: local("VisueltPro-MediumItalic"), url("VisueltPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-MediumItalic.woff2") format("woff2"), url("VisueltPro-MediumItalic.woff") format("woff"), url("VisueltPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Light.eot");
  src: local("VisueltPro-Light"), url("VisueltPro-Light.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Light.woff2") format("woff2"), url("VisueltPro-Light.woff") format("woff"), url("VisueltPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-BlackItalic.eot");
  src: local("VisueltPro-BlackItalic"), url("VisueltPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-BlackItalic.woff2") format("woff2"), url("VisueltPro-BlackItalic.woff") format("woff"), url("VisueltPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-LightItalic.eot");
  src: local("VisueltPro-LightItalic"), url("VisueltPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-LightItalic.woff2") format("woff2"), url("VisueltPro-LightItalic.woff") format("woff"), url("VisueltPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-ThinItalic.eot");
  src: local("VisueltPro-ThinItalic"), url("VisueltPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("VisueltPro-ThinItalic.woff2") format("woff2"), url("VisueltPro-ThinItalic.woff") format("woff"), url("VisueltPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
header {
  position: fixed;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 85px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06); }
  header.home {
    background-color: transparent;
    box-shadow: none;
    position: absolute; }
    header.home .hamburger svg {
      fill: #fff; }
    header.home .consult {
      color: #fff;
      border-bottom: 2px solid #fff; }
      header.home .consult:hover {
        color: #26a2be;
        border-bottom: 2px solid #26a2be; }
  header * {
    line-height: 1.3;
    font-weight: 500; }
  header .wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
  header .submenu {
    position: absolute;
    z-index: 300;
    width: max-content;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 32px);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 14px 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear; }
    header .submenu a {
      color: #fff !important; }
      header .submenu a:hover {
        color: #26a2be !important; }
  header .fa-chevron-down {
    position: absolute;
    left: 50%;
    bottom: -19px;
    transform: translate(-50%, 0);
    font-size: 16px;
    font-weight: normal; }
  header .left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .left > * {
      width: max-content; }
  header .logo {
    width: 235px;
    height: 46px; }
  header .hamburger {
    width: 60px;
    height: 33px;
    margin: 0 48px 0 95px; }
    header .hamburger:hover svg {
      fill: #26a2be; }
    header .hamburger svg {
      fill: #333333; }
  header .navigation li {
    font-size: 20px;
    font-weight: 500;
    position: relative; }
    header .navigation li > li:not(:first-child) {
      margin-top: 10px; }
  header .navigation > li:hover {
    color: #26a2be; }
    header .navigation > li:hover > i {
      color: #26a2be; }
    header .navigation > li:hover > .submenu {
      opacity: 1;
      visibility: visible; }
  header .navigation > li:not(:first-child) {
    margin-left: 48px; }
  header .right {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .right > * {
      width: max-content; }
  header .contact_phone {
    position: relative; }
    header .contact_phone a {
      font-size: 24px; }
      header .contact_phone a:hover {
        color: #26a2be; }
    header .contact_phone:hover .submenu {
      opacity: 1;
      visibility: visible; }
  header .consult {
    margin-left: 48px;
    font-size: 24px;
    padding: 8px 0;
    color: #26a2be;
    border-bottom: 2px solid #26a2be; }
    header .consult:hover {
      color: #9e1260;
      border-bottom: 2px solid #9e1260; }
  header .languages {
    margin-left: 96px;
    position: relative; }
    header .languages a {
      font-size: 20px; }
      header .languages a:hover {
        color: #26a2be; }
    header .languages:hover .submenu {
      opacity: 1;
      visibility: visible; }

section.banner {
  height: 960px;
  background-color: #000;
  padding: 200px 0 160px;
  text-align: center; }
  section.banner > img {
    opacity: 0.7; }
  section.banner .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    section.banner .wrapper h3 {
      font-size: 60px;
      font-weight: bold;
      text-align: center; }
    section.banner .wrapper > div {
      display: flex;
      justify-content: center;
      width: 100%; }
      section.banner .wrapper > div > span {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        section.banner .wrapper > div > span > span {
          font-size: 72px;
          font-weight: bold;
          letter-spacing: 8.64px;
          opacity: 0.5;
          text-transform: uppercase; }
          section.banner .wrapper > div > span > span.active {
            opacity: 1; }
  section.banner .next {
    font-size: 18px;
    position: absolute;
    left: 50%;
    bottom: 42px;
    transform: translate(-50%, 0); }
    section.banner .next > i {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      font-weight: normal; }
      section.banner .next > i:nth-child(1) {
        font-size: 12px;
        bottom: -12px; }
      section.banner .next > i:nth-child(2) {
        font-size: 18px;
        bottom: -22px; }

section.services .cards {
  margin: 60px -12px 0 -12px;
  display: flex;
  justify-content: space-between; }
section.services .card {
  margin: 0 12px;
  width: calc( 100% / 3 - 24px);
  min-width: 324px;
  height: 600px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  section.services .card > a {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    section.services .card > a > img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%; }
  section.services .card .title {
    position: relative;
    z-index: 10;
    font-size: 36px;
    padding-bottom: 25px; }
  section.services .card .links {
    position: relative;
    z-index: 10;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section.services .card .links button {
      font-size: 20px;
      font-weight: 500; }
    section.services .card .links a {
      font-size: 18px; }

section.facts {
  background-color: #116f84; }
  section.facts .cards {
    margin: 84px -12px 0; }
  section.facts .slide {
    width: 50%;
    display: inline-flex; }
  section.facts .card {
    width: calc( 100% / 2 - 24px );
    margin: 0 12px;
    padding: 24px 0 0 24px; }
    section.facts .card img {
      background-color: #fff;
      padding: 12px;
      width: 72px;
      height: 72px; }
    section.facts .card p {
      margin-top: 24px;
      font-size: 24px; }

section.folio .cards button {
  position: absolute;
  z-index: 100;
  top: 238px; }
  section.folio .cards button:nth-of-type(1) {
    left: 0;
    transform: translate(-9vw, -50%); }
  section.folio .cards button:nth-of-type(2) {
    right: 0;
    transform: translate(9vw, -50%); }
  section.folio .cards button.slick-disabled {
    opacity: 0; }
  section.folio .cards button > i {
    font-size: 36px;
    color: #fff;
    font-weight: normal; }
section.folio .card {
  width: 36vw;
  margin: 0 12px; }
  section.folio .card[aria-hidden=true] {
    opacity: 0.5; }
  section.folio .card .bg {
    height: 480px; }
  section.folio .card .title {
    margin-top: 24px;
    padding-left: 48px;
    font-size: 36px;
    font-weight: bold; }
  section.folio .card .date {
    margin-top: 6px;
    padding-left: 48px;
    font-size: 18px;
    color: #999999; }

section.reviews {
  background-color: #116f84; }
  section.reviews .cards button {
    position: absolute;
    z-index: 100;
    top: 238px; }
    section.reviews .cards button:nth-of-type(1) {
      left: 0;
      transform: translate(-9vw, -50%); }
    section.reviews .cards button:nth-of-type(2) {
      right: 0;
      transform: translate(9vw, -50%); }
    section.reviews .cards button.slick-disabled {
      opacity: 0; }
    section.reviews .cards button > i {
      font-size: 36px;
      color: #fff;
      font-weight: normal; }
  section.reviews .card {
    width: 940px;
    margin: 0 60px;
    padding: 36px 0 0 120px;
    display: inline-flex;
    flex-direction: column; }
    section.reviews .card[aria-hidden=true] {
      opacity: 0.5; }
    section.reviews .card .date {
      font-size: 18px;
      opacity: 0.5; }
    section.reviews .card .name {
      margin-top: 6px;
      font-size: 24px;
      font-weight: bold; }
    section.reviews .card p {
      margin-top: 24px;
      font-size: 36px; }

section.blog .cards {
  margin: 60px -12px 0; }
section.blog .card {
  width: calc( 100% / 3 - 24px );
  margin: 0 12px; }
  section.blog .card:hover .title {
    text-decoration-color: #26a2be; }
    section.blog .card:hover .title > i {
      transform: translate(0, -50%);
      opacity: 1; }
  section.blog .card .bg {
    height: 360px; }
  section.blog .card .title {
    margin-top: 24px;
    padding-left: 48px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-right: 36px;
    transition: all 0.2s linear;
    text-decoration: underline;
    text-decoration-color: transparent; }
    section.blog .card .title > i {
      position: absolute;
      color: #26a2be;
      font-size: 36px;
      font-weight: normal;
      top: 50%;
      right: 0;
      opacity: 0;
      transform: translate(-20px, -50%);
      transition: all 0.2s linear; }
  section.blog .card .date {
    margin-top: 6px;
    padding-left: 48px;
    font-size: 18px;
    color: #999999; }

section.archive_reviews .cards {
  margin-top: 60px;
  display: block; }
section.archive_reviews .card {
  height: 480px;
  background-color: #fff;
  display: flex;
  justify-content: space-between; }
  section.archive_reviews .card img {
    height: 100%;
    width: auto; }
  section.archive_reviews .card:nth-of-type(odd) {
    margin-left: 72px; }
    section.archive_reviews .card:nth-of-type(odd) .figure_6 {
      left: 24px; }
  section.archive_reviews .card:nth-of-type(even) {
    margin-right: 72px; }
    section.archive_reviews .card:nth-of-type(even) .figure_6 {
      right: 24px;
      transform: scale(-1, 1); }
    section.archive_reviews .card:nth-of-type(even) .text {
      order: 2;
      padding: 36px 48px 36px 36px; }
    section.archive_reviews .card:nth-of-type(even) .image {
      order: 1;
      padding: 0 36px 0 0; }
      section.archive_reviews .card:nth-of-type(even) .image:before {
        left: unset;
        right: 0; }
  section.archive_reviews .card:not(:first-child) {
    margin-top: 60px; }
  section.archive_reviews .card .figure_6 {
    top: 0; }
  section.archive_reviews .card .text {
    padding: 36px 36px 36px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 73%; }
    section.archive_reviews .card .text .date {
      font-size: 18px;
      color: #999999; }
    section.archive_reviews .card .text .name {
      margin-top: 6px;
      font-size: 24px;
      font-weight: 500; }
    section.archive_reviews .card .text p {
      margin-top: 24px;
      font-size: 36px; }
    section.archive_reviews .card .text a {
      display: block;
      margin-top: auto;
      font-size: 18px;
      color: #999999; }
  section.archive_reviews .card .image {
    width: 27%;
    padding: 0 0 0 36px;
    position: relative; }
    section.archive_reviews .card .image:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 200;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      border-left: 2px solid #26a2be;
      height: 85%; }
    section.archive_reviews .card .image a {
      display: block;
      width: 100%;
      height: 100%; }

section.archive_blog .cards {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px -12px -30px; }
section.archive_blog .card {
  margin-top: 30px;
  margin-bottom: 30px; }

section.post .thumbnail {
  position: relative;
  margin: 60px 0;
  text-align: center; }
  section.post .thumbnail > img {
    max-height: 600px;
    width: auto;
    max-width: 100%;
    margin: 0 auto; }
section.post .content {
  width: 66%;
  margin: 0 auto;
  padding-bottom: 60px; }
section.post h4 {
  font-size: 48px; }
section.post p {
  margin-top: 36px;
  font-size: 24px;
  line-height: 1.42; }
  section.post p.accent {
    font-size: 36px; }
section.post .navsharing {
  padding-top: 60px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  section.post .navsharing .prev, section.post .navsharing .next {
    font-size: 24px;
    font-weight: 500;
    transition: all 0.2s linear;
    display: flex;
    align-items: center; }
    section.post .navsharing .prev:hover, section.post .navsharing .next:hover {
      color: #26a2be; }
    section.post .navsharing .prev > i, section.post .navsharing .next > i {
      font-size: 36px;
      color: #26a2be; }
  section.post .navsharing .prev > i {
    margin-right: 18px; }
  section.post .navsharing .next > i {
    margin-left: 18px; }
  section.post .navsharing .share {
    display: flex;
    align-items: center;
    justify-content: center; }
    section.post .navsharing .share span {
      font-size: 24px;
      font-weight: 500; }
    section.post .navsharing .share .buttons {
      display: flex;
      align-items: center; }
    section.post .navsharing .share button {
      margin-left: 18px;
      fill: #26a2be; }

section.archive_folio .cards {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px -12px -30px; }
section.archive_folio .card {
  width: calc( 100% / 2 - 24px );
  margin-top: 30px;
  margin-bottom: 30px; }

section.folio_post {
  width: 100%;
  height: 100%; }
  section.folio_post .wrapper {
    width: 73vw;
    height: 100%; }
  section.folio_post .gallery {
    margin: 60px auto 0;
    height: 100%; }
    section.folio_post .gallery .big {
      width: 100%;
      height: 722px;
      overflow: hidden;
      display: inline-flex;
      align-items: flex-end;
      position: relative; }
      section.folio_post .gallery .big img {
        display: inline-block;
        width: 73vw;
        max-width: 100%;
        max-height: 100%; }
    section.folio_post .gallery .slick-track {
      height: 100%; }
    section.folio_post .gallery .tape {
      margin-top: 12px;
      max-width: 100%;
      overflow: hidden;
      position: relative;
      display: inline-flex;
      align-items: center;
      max-height: 150px;
      overflow: hidden; }
      section.folio_post .gallery .tape img {
        width: 240px;
        height: auto;
        cursor: pointer;
        border: 4px solid transparent;
        transition: all 0.2s linear;
        display: inline-block;
        vertical-align: middle;
        outline: none; }
        section.folio_post .gallery .tape img:not(:first-child) {
          margin-left: 18px; }
        section.folio_post .gallery .tape img[aria-hidden=true] {
          opacity: 0.5; }
        section.folio_post .gallery .tape img:hover, section.folio_post .gallery .tape img.slick-current {
          border: 4px solid #26a2be; }
  section.folio_post .navsharing {
    padding: 60px 250px 0; }
  section.folio_post button.slick-arrow {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s linear; }
    section.folio_post button.slick-arrow:nth-of-type(1) {
      left: 0; }
    section.folio_post button.slick-arrow:nth-of-type(2) {
      right: 0; }
    section.folio_post button.slick-arrow:hover > i {
      color: #26a2be; }
    section.folio_post button.slick-arrow[aria-disabled=true] {
      opacity: 0;
      visibility: hidden; }
    section.folio_post button.slick-arrow > i {
      padding: 18px 24px;
      font-size: 24px;
      font-weight: normal;
      color: #333333;
      transition: all 0.2s linear; }
  section.folio_post .content {
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: space-between; }
    section.folio_post .content .left {
      width: calc( 100% / 3 ); }
      section.folio_post .content .left ul {
        margin-top: 36px;
        border-right: 2px solid #26a2be; }
      section.folio_post .content .left li {
        display: flex;
        align-items: center; }
        section.folio_post .content .left li:not(:first-child) {
          margin-top: 18px; }
        section.folio_post .content .left li svg {
          width: 36px;
          height: 36px;
          fill: #26a2be; }
        section.folio_post .content .left li span {
          margin-left: 24px;
          font-size: 24px;
          font-weight: 500; }
    section.folio_post .content .right {
      width: calc( 100% / 3 * 2 );
      padding-left: 60px; }
      section.folio_post .content .right .list_block h6 {
        font-weight: 500; }

section.folio.other .card {
  width: calc( 100% / 2 - 24px ); }

section.archive_services p {
  margin-top: -60px;
  font-size: 24px; }
section.archive_services .cards {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px -12px -30px; }
section.archive_services .card {
  margin-top: 12px;
  margin-bottom: 12px; }

section.service_banner {
  height: 600px;
  padding: 85px 0 60px; }
  section.service_banner .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  section.service_banner h2 {
    font-size: 72px; }

section.consult {
  background-color: #116f84; }
  section.consult .wrapper {
    display: flex;
    justify-content: space-between; }
    section.consult .wrapper .left {
      width: 50%;
      padding-right: 72px; }
      section.consult .wrapper .left h4 {
        font-size: 48px; }
      section.consult .wrapper .left p {
        margin-top: 36px;
        font-size: 24px; }
    section.consult .wrapper .right {
      width: 50%;
      padding: 96px 0 0 72px;
      font-size: 20px; }

section.about_banner {
  height: 600px;
  padding-bottom: 60px; }
  section.about_banner > img {
    height: auto; }

section.history {
  background-color: #1a1f21; }
  section.history .wrapper {
    width: 50%; }
  section.history h2 {
    font-size: 72px; }
  section.history p {
    margin-top: 36px;
    font-size: 24px; }
    section.history p.accent {
      margin-top: 60px;
      font-size: 36px; }

section.mission .wrapper {
  display: flex;
  justify-content: space-between; }
section.mission h3 {
  font-size: 48px; }
section.mission .left {
  width: 50%;
  padding-right: 72px; }
  section.mission .left .cards {
    margin-top: 36px;
    flex-direction: column; }
  section.mission .left .card {
    width: 100%;
    display: inline-flex; }
    section.mission .left .card:not(:first-child) {
      margin-top: 36px; }
    section.mission .left .card p {
      margin: 0 0 0 24px; }
    section.mission .left .card .figure_2 {
      transform: none;
      top: 0;
      left: 0; }
      section.mission .left .card .figure_2::before {
        transform: translate(0, 0); }
section.mission .right {
  width: 50%;
  padding-left: 72px; }
  section.mission .right p {
    margin-top: 36px;
    font-size: 24px; }

section.contacts {
  padding-bottom: 0; }
  section.contacts .wrapper {
    width: 87%;
    margin: 0 0 0 auto; }
    section.contacts .wrapper > div {
      padding-top: 120px;
      display: flex;
      justify-content: space-between; }
      section.contacts .wrapper > div .left {
        width: 35%;
        padding-right: 60px; }
        section.contacts .wrapper > div .left li {
          display: block;
          font-size: 36px;
          font-weight: 500; }
          section.contacts .wrapper > div .left li:not(:first-child) {
            margin-top: 36px; }
          section.contacts .wrapper > div .left li:last-child {
            display: flex;
            align-items: center; }
        section.contacts .wrapper > div .left button {
          font-size: 24px;
          font-weight: 500;
          padding-bottom: 8px;
          color: #26a2be;
          border-bottom: 2px solid #26a2be;
          transition: all 0.2s linear;
          min-width: max-content; }
        section.contacts .wrapper > div .left .socials {
          margin-left: 48px;
          display: flex;
          align-items: center; }
          section.contacts .wrapper > div .left .socials a {
            flex: 1 0 auto; }
            section.contacts .wrapper > div .left .socials a:not(:first-child) {
              margin-left: 18px; }
            section.contacts .wrapper > div .left .socials a:hover svg {
              fill: #26a2be; }
            section.contacts .wrapper > div .left .socials a svg {
              fill: #333333; }
      section.contacts .wrapper > div .right {
        width: 65%;
        height: 550px; }

footer {
  background-color: #000; }
  footer.show_brands .wrapper {
    padding-top: 120px; }
  footer.show_brands .clients {
    display: block; }
  footer.show_brands nav {
    padding: 60px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  footer .wrapper {
    padding-top: 60px; }
  footer .clients {
    padding-bottom: 60px;
    position: relative;
    display: none; }
    footer .clients h2 {
      font-size: 72px;
      font-weight: bold; }
    footer .clients .slick_lg {
      padding-top: 60px;
      overflow: hidden; }
    footer .clients img {
      width: 216px;
      height: 120px;
      padding: 12px 18px;
      margin: 0 12px;
      background-color: #fff; }
    footer .clients button {
      position: absolute;
      top: 45px;
      right: 0; }
      footer .clients button:nth-of-type(1) {
        transform: translate(-78px, -50%); }
      footer .clients button:nth-of-type(2) {
        transform: translate(0, -50%); }
      footer .clients button i {
        font-size: 36px;
        font-weight: normal; }
  footer nav {
    display: flex;
    padding: 0 0 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    footer nav h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.25;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    footer nav .expand {
      display: none;
      padding: 5px; }
      footer nav .expand:hover {
        color: #26a2be; }
      footer nav .expand i {
        font-weight: normal; }
    footer nav ul {
      margin-top: 24px; }
    footer nav li {
      display: flex;
      align-items: center; }
      footer nav li:not(:first-child) {
        margin-top: 16px; }
    footer nav a {
      font-size: 20px;
      line-height: 1.3;
      color: #bcbcbc; }
      footer nav a:hover {
        color: #26a2be; }
    footer nav > div {
      padding: 48px 0 0 36px;
      position: relative; }
      footer nav > div:nth-child(1) {
        width: 25%; }
      footer nav > div:nth-child(2) {
        width: 42%;
        padding: 48px 18% 0 36px; }
      footer nav > div:nth-child(3) ul {
        margin-top: 0; }
      footer nav > div:nth-child(3) li, footer nav > div:nth-child(3) a {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.25;
        fill: #fff; }
      footer nav > div:nth-child(3) a:hover {
        color: #26a2be;
        fill: #26a2be; }
      footer nav > div:nth-child(3) li:last-child a:not(:first-child) {
        margin-left: 18px; }
      footer nav > div .figure_1 {
        left: 0;
        top: 0; }
  footer .copyright {
    padding: 60px 0;
    display: flex;
    align-items: center;
    color: #bcbcbc;
    font-size: 20px; }
    footer .copyright > span:nth-child(1) {
      width: 25%; }
    footer .copyright > span:nth-child(2) {
      width: 40%; }
    footer .copyright a {
      display: flex;
      align-items: center; }
      footer .copyright a > svg {
        width: 48px;
        height: 48px; }

.wpforms-container {
  width: 60% !important;
  margin: 0 !important; }
  .wpforms-container * {
    font-family: inherit !important; }
  .wpforms-container .wpforms-field {
    padding: 0 !important; }
    .wpforms-container .wpforms-field:not(:first-child) {
      margin-top: 48px !important; }
  .wpforms-container input {
    max-width: unset !important;
    background-color: transparent !important;
    padding: 0 0 18px 0 !important;
    color: #fff !important;
    font-weight: normal !important;
    line-height: 1.3 !important;
    border: none !important;
    border-bottom: 2px solid #fff !important; }
    .wpforms-container input::placeholder {
      color: #fff !important; }
  .wpforms-container .iti__flag-container {
    display: none !important; }
  .wpforms-container .wpforms-submit-container {
    margin-top: 48px !important;
    text-align: center !important; }
  .wpforms-container button {
    background-color: #fff !important;
    color: #333333 !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
    padding: 18px 36px !important;
    border: none !important;
    width: max-content !important; }
    .wpforms-container button:hover {
      background-color: #26a2be !important;
      color: #fff !important; }

.wpforms-confirmation-container-full {
  background-color: transparent !important;
  border: transparent !important;
  color: inherit !important;
  font-size: 24px !important;
  text-align: center !important; }

.modalConsult {
  position: fixed !important;
  z-index: 900 !important;
  width: 100vw !important;
  height: 100vh !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  border-radius: 5px !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all 0.3s lnear !important;
  cursor: pointer !important; }
  .modalConsult * {
    visibility: hidden !important; }
  .modalConsult.active {
    opacity: 1 !important;
    visibility: visible !important; }
    .modalConsult.active * {
      visibility: visible !important; }
  .modalConsult form {
    position: absolute !important;
    z-index: 950 !important;
    max-width: 50vw !important;
    max-height: 80vh !important;
    background-color: #fff !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    padding: 30px 50px 50px !important; }
    .modalConsult form input {
      background-color: transparent !important;
      color: #333333 !important;
      border: none !important;
      border-bottom: 2px solid #333333 !important; }
      .modalConsult form input::placeholder {
        color: #333333 !important; }
    .modalConsult form .wpforms-container .wpforms-submit-container {
      margin-top: 32px !important; }
    .modalConsult form button {
      background-color: #26a2be !important;
      color: #fff !important; }
      .modalConsult form button:hover {
        background-color: #9e1260 !important; }
  .modalConsult #wpforms-238-field_4-container {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%, -100%); }
    .modalConsult #wpforms-238-field_4-container #closeConsult {
      width: 60px !important;
      height: 60px;
      position: relative;
      background-color: transparent !important;
      fill: #fff; }
      .modalConsult #wpforms-238-field_4-container #closeConsult:hover {
        fill: #26a2be; }
      .modalConsult #wpforms-238-field_4-container #closeConsult svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }

@media (max-width: 1800px) {
  section.folio .cards button:nth-of-type(1), section.folio .cards button:nth-of-type(2), section.reviews .cards button:nth-of-type(1), section.reviews .cards button:nth-of-type(2) {
    transform: translate(0, -50%); } }
@media (max-width: 1600px) {
  .wrapper {
    width: 90%; }

  header .hamburger {
    margin: 0 36px; }
  header .consult, header .languages {
    margin-left: 36px; }

  section.banner .wrapper > div > span > span {
    font-size: 48px; }

  section.folio_post .content .left {
    padding-right: 0; } }
@media (max-width: 1440px) {
  section:not(.banner) {
    padding: 96px 0; }
  section h3 span {
    font-size: 48px; }

  header .logo {
    width: 205px;
    height: auto; }
  header .hamburger {
    margin: 0 24px;
    width: 48px;
    height: auto; }
  header .navigation > li:not(:first-child) {
    margin-left: 24px; }
  header .contact_phone span, header .consult {
    font-size: 20px; }
  header .consult, header .languages {
    margin-left: 24px; }

  footer .clients h2 {
    font-size: 48px; }

  .figure_3 {
    transform: scale(0.75); }

  section.services .card {
    height: 520px;
    padding: 24px 24px 36px; }
    section.services .card .title {
      font-size: 30px; }

  section.facts .cards {
    margin-top: 60px; }

  section.folio .card .bg {
    height: 400px; }
  section.folio .card .title {
    font-size: 24px; }

  section.reviews .card p {
    font-size: 24px; }
  section.reviews .cards button {
    top: 50%; }

  section.blog .card .title {
    padding: 0 24px 0 36px; }
  section.blog .card .date {
    padding-left: 36px; }

  section.archive_reviews .card {
    height: 380px; }
    section.archive_reviews .card:nth-of-type(odd) {
      margin-left: 60px; }
      section.archive_reviews .card:nth-of-type(odd) .figure_6 {
        transform: scale(0.75);
        left: 18px; }
    section.archive_reviews .card:nth-of-type(even) {
      margin-right: 60px; }
      section.archive_reviews .card:nth-of-type(even) .figure_6 {
        transform: scale(-0.75, 0.75);
        right: 18px; }
    section.archive_reviews .card:not(:first-child) {
      margin-top: 48px; }
    section.archive_reviews .card .text p {
      font-size: 24px; }

  section.post h4 {
    font-size: 36px; }

  section.folio_post .gallery .big {
    height: auto; }
  section.folio_post .content .left li span {
    font-size: 20px; }
  section.folio_post .navsharing {
    padding: 60px 5% 0; }

  section.archive_services p {
    margin-top: 0; }

  section.contacts {
    padding-bottom: 0 !important; }
    section.contacts .wrapper {
      width: 95%; }
      section.contacts .wrapper > div .left li {
        font-size: 30px; }

  section.consult .wrapper .right {
    padding: 0; } }
@media (max-width: 1280px) {
  .bg > img {
    width: auto; }

  section:not(.banner) {
    padding: 72px 0; }
    section:not(.banner) .cards {
      margin-top: 36px; }

  body:not(.home)::before {
    transform: translateY(-85px); }

  .figure_4 {
    transform: scale(0.75); }

  header {
    height: auto; }
    header .logo {
      width: 156px; }
    header .hamburger {
      width: 36px; }
    header .navigation > li:not(:first-child) {
      margin-left: 18px; }
    header .consult, header .languages {
      margin-left: 18px; }
    header .contact_phone a {
      font-size: 20px; }

  footer nav {
    justify-content: space-between; }
    footer nav > div:nth-child(1), footer nav > div:nth-child(2), footer nav > div:nth-child(3) {
      width: 30%;
      padding-right: 0; }

  section.banner {
    height: 600px;
    padding-bottom: 120px; }
    section.banner > img {
      width: auto;
      height: 120%;
      transform: translate(-50%, -50%); }

  section.facts .cards {
    flex-wrap: wrap; }
  section.facts .slide {
    width: calc( 50% - 24px );
    flex-wrap: wrap; }
    section.facts .slide:not(:first-child) {
      margin-left: 24px; }
  section.facts .card {
    width: 100%;
    height: 50%; }

  section.reviews .card {
    width: 800px;
    padding: 18px 0 0 96px; }

  section.archive_reviews .card {
    height: 340px; }
    section.archive_reviews .card .text .name, section.archive_reviews .card .text p {
      font-size: 20px; }
    section.archive_reviews .card .text .date, section.archive_reviews .card .text a {
      font-size: 16px; }

  section.folio_post .wrapper {
    width: 83vw; }
    section.folio_post .wrapper .gallery .big img {
      width: 83vw; }

  section.archive_services .cards {
    margin: 30px -18px -30px; }
    section.archive_services .cards .card {
      height: 450px; }

  section.history .wrapper {
    width: 90%; }

  section.contacts .wrapper > div .left {
    width: 40%; }
  section.contacts .wrapper > div .right {
    width: 60%; } }
@media (max-width: 1024px) {
  section:not(.banner) .cards {
    flex-wrap: wrap; }

  .figure_5 > span {
    font-size: 20px; }

  .list_block h6, .list_block li {
    font-size: 21px; }

  body:not(.home) {
    padding-top: 80px; }

  nav.pagination li > * {
    width: 48px;
    height: 48px;
    font-size: 20px; }

  header .navigation {
    display: none; }

  footer nav > div {
    width: auto;
    flex: 1 0 auto; }

  .modalConsult form {
    width: 100% !important;
    max-width: 60vw !important; }
  .modalConsult button[type=submit] {
    width: auto !important;
    max-width: 100% !important; }

  section.banner {
    overflow: hidden; }
    section.banner .wrapper > div {
      width: 120vw; }
      section.banner .wrapper > div > span {
        width: min-content;
        position: relative; }
        section.banner .wrapper > div > span > span:nth-child(1) {
          position: absolute;
          left: -36px;
          transform: translate(-100%, 0); }
        section.banner .wrapper > div > span > span:nth-child(3) {
          position: absolute;
          right: -36px;
          transform: translate(100%, 0); }

  section.services .card {
    width: calc( 100% / 2 - 24px);
    margin: 12px; }

  section.folio .card {
    width: 50vw; }
  section.folio .cards button {
    top: 45%; }

  section.reviews .card {
    width: 60vw;
    margin: 0 30px; }

  section.blog .card {
    width: calc( 100% / 2 - 24px );
    margin: 12px; }

  section.archive_reviews .card {
    height: 300px; }
    section.archive_reviews .card:nth-of-type(odd) {
      margin-left: 24px; }
      section.archive_reviews .card:nth-of-type(odd) .figure_6 {
        transform: scale(0.5);
        left: 12px; }
    section.archive_reviews .card:nth-of-type(even) {
      margin-right: 24px; }
      section.archive_reviews .card:nth-of-type(even) .figure_6 {
        transform: scale(-0.5, 0.5);
        right: 12px; }
    section.archive_reviews .card:not(:first-child) {
      margin-top: 36px; }
    section.archive_reviews .card .text {
      padding: 24px !important; }
      section.archive_reviews .card .text p {
        margin-top: 18px;
        font-size: 20px; }
      section.archive_reviews .card .text .name {
        font-size: 18px; }
      section.archive_reviews .card .text .date, section.archive_reviews .card .text a {
        font-size: 14px; }
    section.archive_reviews .card .image {
      padding-left: 24px; }

  section.post .thumbnail {
    margin: 30px 0; }
  section.post .content {
    width: 100%;
    padding-bottom: 36px; }
    section.post .content p {
      margin-top: 24px;
      font-size: 21px; }
      section.post .content p.accent {
        font-size: 27px; }
  section.post .navsharing {
    padding-top: 36px;
    justify-content: center; }
    section.post .navsharing .prev, section.post .navsharing .next {
      display: none; }

  section.archive_folio .cards {
    justify-content: center; }

  section.folio_post .content {
    padding-top: 36px;
    flex-wrap: wrap; }
    section.folio_post .content .left {
      width: 100%;
      padding: 0 0 36px 0;
      border-right: none;
      border-bottom: 2px solid #26a2be; }
      section.folio_post .content .left ul {
        margin-top: 18px;
        border: none; }
      section.folio_post .content .left li svg {
        width: 24px;
        height: 24px; }
    section.folio_post .content .right {
      width: 100%;
      padding: 36px 0 0 0; }

  section.service_banner {
    height: 480px; }
    section.service_banner h2 {
      font-size: 54px; }

  section.history h2 {
    font-size: 54px; }
  section.history p.accent {
    margin-top: 36px;
    font-size: 30px; }

  section.mission h3 {
    font-size: 36px; }
  section.mission .left .card p, section.mission .right p {
    font-size: 20px; }

  section.contacts .wrapper {
    width: 90%;
    margin: 0 auto; }
    section.contacts .wrapper > div {
      flex-direction: column;
      padding-top: 72px; }
      section.contacts .wrapper > div .left {
        width: 100%;
        padding: 0; }
      section.contacts .wrapper > div .right {
        width: 100vw;
        margin-left: -5vw;
        margin-top: 72px; }

  section.consult .wrapper {
    flex-direction: column; }
    section.consult .wrapper .left {
      width: 100%;
      padding: 0; }
    section.consult .wrapper .right {
      width: 100%;
      margin-top: 36px; } }
@media (max-width: 768px) {
  .watch_all_mobile {
    display: inline-block; }

  .figure_4 {
    transform: scale(0.5); }

  body:not(.home)::before {
    transform: translateY(-130px); }

  .figure_5 > span {
    font-size: 16px; }

  .list_block ul {
    margin-top: 12px; }
  .list_block h6 {
    font-size: 16px;
    line-height: 1.5; }
  .list_block li {
    font-size: 16px;
    line-height: 1.5; }
    .list_block li:before {
      margin-right: 12px; }
    .list_block li:not(:first-child) {
      margin-top: 4px; }

  body:not(.home) {
    padding-top: 60px; }

  .modalConsult form {
    max-width: 80vw !important; }
  .modalConsult #closeConsult {
    padding: 0 !important;
    width: 48px !important;
    height: 48px !important; }
  .modalConsult .wpforms-container input, .modalConsult .wpforms-container button {
    font-size: 18px !important; }

  section h3 span {
    font-size: 40px; }
  section h3 a {
    display: none; }

  header .wrapper {
    padding: 14px 0 10px; }
  header .left {
    width: 100%; }
  header .right {
    display: none; }

  footer {
    overflow: hidden; }
    footer:not(.show_brands) .wrapper {
      padding-top: 6px; }
    footer:not(.show_brands) nav {
      padding: 0; }
    footer.show_brands .wrapper {
      padding-top: 96px; }
    footer.show_brands nav {
      padding: 0; }
    footer > img {
      width: 2700px !important;
      height: auto !important; }
    footer .clients {
      padding: 0; }
      footer .clients h2 {
        font-size: 40px; }
      footer .clients .slick_lg {
        padding: 36px 0; }
      footer .clients img {
        width: 156px;
        height: 86px; }
    footer nav {
      flex-direction: column; }
      footer nav *:not(h3) {
        font-size: 18px !important; }
      footer nav h3 .expand {
        display: block; }
      footer nav div {
        width: 100% !important;
        padding: 24px 0 !important; }
        footer nav div:not(:first-child) {
          border-top: 1px solid rgba(255, 255, 255, 0.2); }
        footer nav div .figure_1 {
          display: none; }
        footer nav div:not(:last-child) ul {
          opacity: 0;
          visibility: hidden;
          max-height: 0;
          margin-top: 0;
          transition: all 0.2s linear; }
        footer nav div:not(:last-child) .expand {
          transform: rotate(0); }
        footer nav div:not(:last-child).expanded ul {
          opacity: 1;
          visibility: visible;
          max-height: 1000px;
          margin-top: 24px; }
        footer nav div:not(:last-child).expanded .expand {
          transform: rotate(180deg); }
    footer .copyright {
      flex-direction: column;
      align-items: flex-start;
      padding: 24px 0; }
      footer .copyright span {
        width: 100% !important; }
        footer .copyright span:nth-child(2) {
          margin-top: 12px; }
        footer .copyright span:nth-child(3) {
          margin-top: 36px; }

  section.banner .wrapper h3, section.banner .wrapper > div > span > span {
    font-size: 36px; }
  section.banner .next {
    font-size: 14px; }

  section.services .cards {
    justify-content: center; }
  section.services .card {
    width: calc( 100% / 2 - 24px);
    height: 360px; }
    section.services .card .title {
      font-size: 24px;
      padding-bottom: 20px; }
    section.services .card .links {
      padding-top: 20px; }

  section.facts .slide {
    width: 85vw; }
  section.facts .card:not(:first-child) {
    margin-top: 24px; }

  section.folio .card {
    width: 75vw; }
    section.folio .card[aria-hidden="true"] {
      opacity: 1; }
    section.folio .card .date {
      font-size: 14px; }

  section.reviews .card {
    width: 90vw;
    padding: 12px 0 0 60px; }
    section.reviews .card[aria-hidden="true"] {
      opacity: 0; }

  section.blog .card, section.folio.other .card {
    width: 75vw;
    margin: 0 12px;
    vertical-align: top; }

  section.archive_reviews .card {
    height: auto; }
    section.archive_reviews .card .text {
      width: 100%; }
      section.archive_reviews .card .text a {
        margin-top: 18px; }
    section.archive_reviews .card .image {
      display: none; }

  section.archive_blog .cards {
    justify-content: center; }
    section.archive_blog .cards .card {
      width: 100%; }
      section.archive_blog .cards .card:not(:first-child) {
        margin-top: 36px; }

  section.post .content p {
    font-size: 16px;
    line-height: 1.5; }
    section.post .content p.accent {
      font-size: 20px;
      line-height: 1.3; }
  section.post .navsharing .share {
    width: 100%; }
    section.post .navsharing .share span {
      font-size: 18px;
      text-align: right; }

  section.archive_folio .cards .card {
    width: 100%;
    margin: 18px 12px; }
    section.archive_folio .cards .card .bg {
      height: 223px; }

  section.folio_post .wrapper {
    width: 90vw; }
    section.folio_post .wrapper .gallery {
      width: 100vw;
      margin-left: -5vw;
      margin-top: 36px; }
      section.folio_post .wrapper .gallery .tape {
        display: none; }
      section.folio_post .wrapper .gallery .big img {
        width: 100vw; }
    section.folio_post .wrapper button.slick-arrow > i {
      padding: 12px 16px; }

  section.service_banner h2 {
    font-size: 40px; }

  section.archive_services p {
    margin-top: -36px;
    font-size: 20px; }

  section.post .thumbnail {
    width: 100vw;
    margin-left: -5vw; }

  section.about_banner {
    height: 480px;
    padding-bottom: 36px; }

  section.history h2 {
    font-size: 40px; }
  section.history p {
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.5; }
    section.history p.accent {
      font-size: 20px; }

  section.mission .wrapper {
    flex-direction: column; }
  section.mission h3 {
    font-size: 30px; }
  section.mission .left {
    width: 100%;
    padding: 0; }
    section.mission .left .card p {
      font-size: 18px; }
  section.mission .right {
    width: 100%;
    padding: 0;
    margin-top: 72px; }
    section.mission .right p {
      font-size: 16px;
      line-height: 1.5; }

  section.contacts .wrapper > div .left li {
    font-size: 24px; }

  section.consult .wrapper .left h4 {
    font-size: 30px; }
  section.consult .wrapper .left p {
    font-size: 16px;
    line-height: 1.5; }
  section.consult .wrapper .right .wpforms-container {
    width: 100% !important; }
    section.consult .wrapper .right .wpforms-container input {
      font-size: 16px !important; }
    section.consult .wrapper .right .wpforms-container button {
      font-size: 20px !important; } }
@media (max-width: 480px) {
  body:not(.home)::before {
    transform: translateY(-150px); }

  nav.pagination ul {
    justify-content: center; }
    nav.pagination ul li {
      margin-bottom: 18px; }

  .modalConsult form {
    max-width: 100vw !important; }
    .modalConsult form #wpforms-238-field_4-container {
      transform: translate(-20px, 20px) !important; }
      .modalConsult form #wpforms-238-field_4-container #closeConsult {
        fill: #333333 !important; }
        .modalConsult form #wpforms-238-field_4-container #closeConsult:hover {
          fill: #26a2be !important; }

  section.folio .card .bg {
    height: 208px; }

  section.blog .card .bg {
    height: 234px; }

  section.post .navsharing .share span {
    flex: 0 0 60%; }
  section.post .navsharing .share .buttons {
    flex: 0 0 40%; }

  section.archive_services .cards {
    margin: 30px 0; }
    section.archive_services .cards .card {
      width: 100%; }
  section.archive_services p {
    font-size: 16px;
    line-height: 1.5; }

  section.mission .cards {
    margin: 0 !important; }
  section.mission .left .card {
    width: 80vw;
    flex-direction: column;
    margin: 0 9px; }
    section.mission .left .card:not(:first-child) {
      margin-left: 18px; }
    section.mission .left .card p {
      margin: 18px 0 0 0;
      line-height: 1.33; }
  section.mission .right {
    margin-top: 36px; }

  section.contacts .wrapper > div .left li {
    font-size: 20px; }
  section.contacts .wrapper > div .left button {
    font-size: 18px; } }
