header
	position: fixed
	z-index: 50
	left: 0
	right: 0
	top: 0
	width: 100%
	height: 85px
	background-color: $w
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06)
	&.home
		background-color: transparent
		box-shadow: none
		position: absolute
		.hamburger svg
			fill: $w
		.consult
			color: $w
			border-bottom: 2px solid $w
	*
		line-height: 1.3
		font-weight: 500
	.wrapper
		width: 90%
		display: flex
		justify-content: space-between
		align-items: center
		padding: 14px 0 20px
		border-bottom: 2px solid rgba($w, 0.2)
	.fa-chevron-down
		position: absolute
		left: 50%
		bottom: -19px
		transform: translate(-50%, 0)
		font-size: 16px
		font-weight: normal
	.left
		display: flex
		justify-content: space-between
		align-items: center
		> *
			width: max-content
	.logo
		width: 235px
		height: 46px
	.hamburger
		width: 60px
		height: 33px
		margin: 0 48px 0 95px
		&:hover svg
			fill: $blue
		svg
			fill: $b
	.navigation
		li
			font-size: 20px
			font-weight: 500
			position: relative
		li:not(:first-child)
			margin-left: 48px
	.right
		display: flex
		justify-content: space-between
		align-items: center
		> *
			width: max-content
	.contact_phone
		position: relative
		span
			font-size: 24px
	.consult
			margin-left: 48px
			font-size: 24px
			padding: 8px 0
			color: $blue
			border-bottom: 2px solid $blue
	.languages
		margin-left: 96px
		position: relative
		li
			font-size: 20px