// ---------------------------------------------------------------- Reset styles
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font-family: 'Visuelt Pro', sans-serif !important
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block

ul
	list-style: none
	li
		position: relative

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

// +
button
	border: none
	background-color: transparent
	cursor: pointer
	padding: 0
	outline: none
li, a, span
	display: inline-block
	outline: none
img
	width: 100%
	user-select: none
	outline: none
h1, h2, h3, h4, h5, h6
	font-weight: bold
svg
	width: 100%
	&:not(.native)
		fill: inherit
		g, path
			fill: inherit

// ---------------------------------------------------------------- Variables
$w: 		#fff
$dw: 		#f2f2f2
$b: 		#333333
$db: 		#1a1f21
$grey: 	#999999
$pink: 	#9e1260
$cyan: 	#116f84
$blue: 	#26a2be

// ---------------------------------------------------------------- Functions

// ---------------------------------------------------------------- Classes
.text-w
	color: $w
	h3 > a, .watch_all_mobile
		border-color: $w
		&:hover
			color: $blue
			border-color: $blue
.text-b
	color: $b
	h3 > a
		border-color: $b
		&:hover
			color: $blue
			border-color: $blue
.bg
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	position: relative
	> img
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		width: 100%
		height: 100%
.bg-w
	background-color: $w
.bg-b
	background-color: $b
// ---------------------------------------------------------------- Figures

// <div class="figure_i"></div>

.figure_1
	position: absolute
	&:before
		content: ''
		position: absolute
		background-color: $pink
		width: 24px
		height: 24px
		left: 0
		top: 0
	&:after
		content: ''
		position: absolute
		background-color: $w
		width: 12px
		height: 12px
		left: 24px
		top: 24px
	&.over:before
		animation: figure_1_before 2s linear forwards
	&.over:after
		animation: figure_1_after_v1 2s linear forwards

.figure_2
	position: absolute
	&:before
		content: ''
		position: absolute
		background-color: $pink
		width: 24px
		height: 24px
		left: 0
		top: 0
		transform: translate(-100%, -100%)
	&.over::before
		animation: figure_2_before_v_1 2s linear

.figure_3
	position: absolute
	left: 0
	bottom: 0
	&:before
		content: ''
		position: absolute
		background-color: $pink
		width: 48px
		height: 48px
		left: 0
		bottom: 0
	&:after
		content: ''
		position: absolute
		background-color: $w
		width: 24px
		height: 24px
		left: 48px
		bottom: 48px
	&.over::before
		animation: figure_3_before 1.5s linear forwards
	&.over::after
		animation: figure_3_after 1.5s linear forwards

.figure_4
	position: absolute
	left: 0
	top: 0
	&:before
		content: ''
		position: absolute
		background-color: $w
		width: 72px
		height: 72px
		left: 0
		top: 24px
	&:after
		content: ''
		position: absolute
		background-color: $pink
		width: 24px
		height: 24px
		left: 72px
		top: 0
	&.over:before
		animation: figure_4_before 0.9s linear forwards
	&.over:after
		animation: figure_4_after 0.9s linear forwards

.figure_6
	position: absolute
	z-index: 20
	&:before
		content: ''
		position: absolute
		background-color: $blue
		width: 72px
		height: 72px
		top: 24px
		right: 24px
	&:after
		content: ''
		position: absolute
		background-color: $pink
		width: 24px
		height: 24px
		top: 0
		right: 0

// <div class="figure_5">
// 	<span class="date">
// 		28 октября 2020
// 	</span>
// </div>
.figure_5
	position: absolute
	left: 0
	top: 0
	&:before
		content: ''
		position: absolute
		background-color: $pink
		width: 24px
		height: 24px
		left: 0
		top: 0
	> span
		position: absolute
		background-color: $w
		display: block
		left: 24px
		top: 24px
		padding: 18px
		color: $grey
		font-size: 24px
		line-height: 1
		width: max-content

// ---------------------------------------------------------------- Mixins


// ---------------------------------------------------------------- Slick



// ---------------------------------------------------------------- Common styles
*
	color: inherit
	text-decoration: none
	box-sizing: border-box
	line-height: 1.25

// Transitions
a, button, svg, img
	transition: all 0.15s linear

html
	// width: 100vw
	// overflow-x: hidden
	scroll-behavior: unset
	position: relative
	height: 100%

body
	width: 100%
	height: 100%
	position: relative
	z-index: 1
	background-color: $dw
	overflow-x: hidden
	&:not(.home)
		padding-top: 85px
		.logo_bg
			background-image: url(../img/keentegro_bg.svg)
			width: 100%
			display: block
			height: 377px
			position: absolute
			z-index: 2
			// transform: translateY(-24px)
			background-size: contain
			background-repeat: no-repeat
			background-position: center
			transition: all 0.3s linear
	&.discroll
		position: fixed
		overflow: hidden


// <h3>
// 	<span>
// 		Наши услуги
// 	</span>
// 	<a href="#">
// 		Смотреть все услуги
// 	</a>
// </h3>

section
	position: relative
	z-index: 5
	transition: all 0.2s linear
	overflow: hidden
	&:not(.banner)
		padding: 120px 0
	h3
		display: flex
		justify-content: space-between
		align-items: center
		span
			font-size: 72px
		a
			font-size: 24px
			font-weight: 500
			border-bottom: 2px solid $b
	.cards
		margin-top: 60px
		display: flex
		position: relative
	.card
		position: relative
		outline: none
.wrapper
	width: 1416px // 74%
	height: 100%
	margin: 0 auto
	position: relative
	z-index: 5


// <div class="list_block">
// 	<h6>
// 		Первоначально в новом городе будет жить около 360 человек, в том числе разработчики и пожилые люди. Ожидается, что этот город будет способствовать появлению полезных для общества инноваций.
// 	</h6>
// 	<ul>
// 		<li>
// 			Данные о состоянии здоровья жителей, записанные с помощью датчиков
// 		</li>
// 		<li>
// 			Будут изучаться с помощью технологий искусственного интеллекта
// 		</li>
// 		<li>
// 			Роботы будут помогать жителям в повседневной жизни
// 		</li>
// 	</ul>
// </div>

.list_block
	margin-top: 24px
	h6
		font-size: 24px
		font-weight: normal
	ul
		margin-top: 18px
	li
		display: flex
		align-items: center
		font-size: 24px
		&:before
			content: ''
			display: block
			width: 12px
			height: 12px
			background-color: $blue
			flex: 0 0 auto
			margin-right: 24px
		&:not(:first-child)
			margin-top: 12px

.watch_all_mobile
	display: none
	margin-top: 36px
	font-size: 18px
	font-weight: 500
	border-bottom: 2px solid #333333

nav.pagination
	margin-top: 90px
	ul
		display: flex
		align-items: center
	li
		transition: all 0.2s linear
		position: relative
		&:not(:first-child)
			margin-left: 18px
		> *
			width: 60px
			height: 60px
			background-color: $w
			display: flex
			justify-content: center
			align-items: center
			font-size: 24px
			font-weight: 500
			user-select: none
			&.prev i, &.next i
				font-weight: normal
			&.current
				background-color: transparent
				border-bottom: 2px solid $pink
			&:not(.current)
				cursor: pointer
				&:hover
					color: $blue

#overlay
	position: fixed
	z-index: 1000
	left: 0
	top: 0
	right: 0
	bottom: 0
	background-color: rgba(#000, 0.9)
	backdrop-filter: blur(9.6px)
	width: 100vw
	height: 100vh
	overflow: hidden
	cursor: pointer
	transition: all 0.2s linear
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible

// Hamb animation
header .hamburger
	opacity: 0
	animation: fadeIn 2s linear forwards
	svg path
		transition: all 0.4s linear
		&.white
			opacity: 1
		&.gradient
			fill: url(#logo_gradient) !important
			opacity: 0

header .hamburger:hover svg path
	&.white
		opacity: 0
	&.gradient
		opacity: 1