
section.banner
	height: 960px
	background-color: #000
	padding: 200px 0 160px
	text-align: center
	> img
		opacity: 0.7
	.wrapper
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		height: 100%
		h3
			font-size: 60px
			font-weight: bold
			text-align: center
		> div
			display: flex
			justify-content: space-around
			width: 100%
			span
				font-size: 72px
				font-weight: bold
				letter-spacing: 8.64px
				opacity: 0.5
				text-transform: uppercase
				&.active
					opacity: 1
	.next
		font-size: 18px
		position: absolute
		left: 50%
		bottom: 42px
		transform: translate(-50%, 0)
		> i
			position: absolute
			left: 50%
			transform: translate(-50%, 0)
			font-weight: normal
			&:nth-child(1)
				font-size: 12px
				bottom: -12px
			&:nth-child(2)
				font-size: 18px
				bottom: -22px

section.services
	.cards
		margin: 60px -12px 0 -12px
		display: flex
		justify-content: space-between
	.card
		margin: 0 12px
		width: calc( 100% / 3 - 24px)
		height: 600px
		padding: 48px
		display: flex
		flex-direction: column
		justify-content: flex-end
		> a
			position: absolute
			z-index: 5
			left: 0
			top: 0
			right: 0
			bottom: 0
			> img
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				width: 100%
				height: 100%
		.title
			position: relative
			z-index: 10
			font-size: 36px
			padding-bottom: 25px
		.links
			position: relative
			z-index: 10
			padding-top: 25px
			border-top: 1px solid rgba($w, 0.2)
			display: flex
			justify-content: space-between
			align-items: center
			a
				font-size: 20px
				font-weight: 500

section.facts
	background-color: $cyan
	.cards
		margin: 84px -12px 0
	.card
		width: calc( 100% / 4 - 24px )
		margin: 0 12px
		padding: 24px 0 0 24px
		img
			background-color: $w
			padding: 12px
			width: 72px
			height: 72px
		p
			margin-top: 24px
			font-size: 24px

section.folio
	.wrapper
	.cards
		button
			position: absolute
			z-index: 100
			top: 238px
			&:nth-of-type(1)
				left: 0
				transform: translate(-174px, -50%)
			&:nth-of-type(2)
				right: 0
				transform: translate(174px, -50%)
			&.slick-disabled
				opacity: 0
			> i
				font-size: 36px
				color: $w
				font-weight: normal
	.card
		width: 696px
		margin: 0 12px
		&[aria-hidden=true]
			opacity: 0.5
		.bg
			height: 480px
		.title
			margin-top: 24px
			padding-left: 48px
			font-size: 36px
			font-weight: bold
		.date
			margin-top: 6px
			padding-left: 48px
			font-size: 18px
			color: $grey

section.reviews
	background-color: $cyan
	.cards
		button
			position: absolute
			z-index: 100
			top: 238px
			&:nth-of-type(1)
				left: 0
				transform: translate(-174px, -50%)
			&:nth-of-type(2)
				right: 0
				transform: translate(174px, -50%)
			&.slick-disabled
				opacity: 0
			> i
				font-size: 36px
				color: $w
				font-weight: normal
	.card
		width: 940px
		margin: 0 60px
		padding: 36px 0 0 120px
		display: inline-flex
		flex-direction: column
		&[aria-hidden=true]
			opacity: 0.5
		.date
			font-size: 18px
			opacity: 0.5
		.name
			margin-top: 6px
			font-size: 24px
			font-weight: bold
		p
			margin-top: 24px
			font-size: 36px

section.blog
	.cards
		margin: 60px -12px 0
	.card
		width: calc( 100% / 3 - 24px )
		margin: 0 12px
		&:hover
			.title
				text-decoration-color: $blue
				> i
					transform: translate(0, -50%)
					opacity: 1
		.bg
			height: 360px
		.title
			margin-top: 24px
			padding-left: 48px
			font-size: 24px
			font-weight: bold
			position: relative
			padding-right: 36px
			transition: all 0.2s linear
			text-decoration: underline
			text-decoration-color: transparent
			> i
				position: absolute
				color: $blue
				font-size: 36px
				font-weight: normal
				top: 50%
				right: 0
				opacity: 0
				transform: translate(-20px, -50%)
				transition: all 0.2s linear
		.date
			margin-top: 6px
			padding-left: 48px
			font-size: 18px
			color: $grey

section.archive_reviews
	.wrapper
	.cards
		margin-top: 60px
		display: block
	.card
		height: 480px
		background-color: $w
		display: flex
		justify-content: space-between
		&:nth-of-type(odd)
			margin-left: 72px
			.figure_6
				left: 24px
		&:nth-of-type(even)
			margin-right: 72px
			.figure_6
				right: 24px
				transform: scale(-1, 1)
			.text
				order: 2
				padding: 36px 48px 36px 36px
			.image
				order: 1
				padding: 0 36px 0 0
				&:before
					left: unset
					right: 0
		&:not(:first-child)
			margin-top: 60px
		.figure_6
			top: 0
		.text
			padding: 36px 36px 36px 48px
			display: flex
			flex-direction: column
			align-items: flex-start
			width: 73%
			.date
				font-size: 18px
				color: $grey
			.name
				margin-top: 6px
				font-size: 24px
				font-weight: 500
			p
				margin-top: 24px
				font-size: 36px
			a
				display: block
				margin-top: auto
				font-size: 18px
				color: $grey
		.image
			width: 27%
			padding: 0 0 0 36px
			position: relative
			&:before
				content: ''
				display: block
				position: absolute
				left: 0
				top: 50%
				transform: translate(0, -50%)
				border-left: 2px solid $blue
				height: 85%
			a
				display: block
				width: 100%
				height: 100%

section.archive_blog
	.cards
		flex-wrap: wrap
		justify-content: flex-start
		margin: 30px -12px -30px
	.card
		margin-top: 30px
		margin-bottom: 30px

section.post
	.wrapper
	.thumbnail
		position: relative
		margin: 60px 0
	.content
		width: 66%
		margin: 0 auto
		padding-bottom: 60px
	h4
		font-size: 48px
	p
		margin-top: 36px
		font-size: 24px
		line-height: 1.42
		&.accent
			font-size: 36px
	.navsharing
		padding-top: 60px
		border-top: 1px solid rgba($b, 0.1)
		display: flex
		align-items: center
		justify-content: space-between
		.prev, .next
			font-size: 24px
			font-weight: 500
			transition: all 0.2s linear
			display: flex
			align-items: center
			&:hover
				color: $blue
			> i
				font-size: 36px
				color: $blue
		.prev > i
			margin-right: 18px
		.next > i
			margin-left: 18px
		.share
			display: flex
			align-items: center
			justify-content: center
			span
				font-size: 24px
				font-weight: 500
			.buttons
				display: flex
				align-items: center
			button
				margin-left: 18px
				fill: $blue

section.archive_folio
	.cards
		flex-wrap: wrap
		justify-content: flex-start
		margin: 30px -12px -30px
	.card
		margin-top: 30px
		margin-bottom: 30px

section.folio_post
	width: 100%
	height: 100%
	.wrapper
		height: 100%
	.gallery
		margin-top: 60px
		width: 100%
		height: 100%
		.big
			width: 100%
			height: 722px
			overflow: hidden
			display: inline-flex
			img
				display: inline-block
				width: auto
				max-width: 100%
				max-height: 100%
				// width: 1416px
				// height: 722px
		.tape
			margin-top: 12px
			max-width: 100%
			overflow: hidden
			position: relative
			display: inline-flex
			img
				width: 240px
				height: 122px
				cursor: pointer
				border: 4px solid transparent
				transition: all 0.2s linear
				display: inline-block
				&:not(:first-child)
					margin-left: 18px
				&[aria-hidden=true]
					opacity: 0.5
				&:hover, &.slick-current
					border: 4px solid $blue
			> button
				position: absolute
				z-index: 10
				background-color: $w
				top: 50%
				transform: translateY(-50%)
				transition: all 0.2s linear
				&:nth-of-type(1)
					left: 0
				&:nth-of-type(2)
					right: 0
				&:hover > i
					color: $blue
				&[aria-disabled=true]
					opacity: 0
					visibility: hidden
				> i
					padding: 18px 24px
					font-size: 24px
					font-weight: normal
					color: $b
					transition: all 0.2s linear
	.content
		width: 100%
		padding: 60px 0
		display: flex
		justify-content: space-between
		.left
			width: calc( 100% / 3 )
			padding-right: 20px
			ul
				margin-top: 36px
				border-right: 2px solid $blue
			li
				display: flex
				align-items: center
				&:not(:first-child)
					margin-top: 18px
				svg
					width: 36px
					height: 36px
					fill: $blue
				span
					margin-left: 24px
					font-size: 24px
					font-weight: 500
		.right
			width: calc( 100% / 3 * 2 )
			padding-left: 100px
			.list_block h6
				font-weight: 500

section.archive_services
	p
		margin-top: -60px
		font-size: 24px
	.cards
		flex-wrap: wrap
		justify-content: flex-start
		margin: 30px -12px -30px
	.card
		margin-top: 12px
		margin-bottom: 12px

section.service_banner
	height: 600px
	padding: 85px 0 60px
	.wrapper
		display: flex
		flex-direction: column
		justify-content: flex-end
	h2
		font-size: 72px

section.consult
	background-color: $cyan
	.wrapper
		display: flex
		justify-content: space-between
		.left
			width: 50%
			padding-right: 72px
			h4
				font-size: 48px
			p
				margin-top: 36px
				font-size: 24px
		.right
			width: 50%
			padding: 96px 0 0 72px
			font-size: 20px

section.about_banner
	height: 600px
	padding-bottom: 60px
	> img
		height: auto

section.history
	background-color: $db
	.wrapper
		width: 50%
	h2
		font-size: 72px
	p
		margin-top: 36px
		font-size: 24px
		&.accent
			margin-top: 60px
			font-size: 36px

section.mission
	.wrapper
		display: flex
		justify-content: space-between
	h3
		font-size: 48px
	.left
		width: 50%
		padding-right: 72px
		.cards
			margin-top: 36px
			flex-direction: column
		.card
			width: 100%
			display: flex
			&:not(:first-child)
				margin-top: 36px
			p
				margin: 0 0 0 24px
			.figure_2
				transform: none
				top: 0
				left: 0
				&::before
					transform: translate(0, 0)
	.right
		width: 50%
		padding-left: 72px
		p
			margin-top: 36px
			font-size: 24px

section.contacts
	padding-bottom: 0
	.wrapper
		width: 1668px // 87%
		margin: 0 0 0 auto
		> div
			padding-top: 120px
			display: flex
			justify-content: space-between
			.left
				width: 35%
				li
					display: block
					font-size: 36px
					font-weight: 500
					&:not(:first-child)
						margin-top: 36px
					&:last-child
						display: flex
						align-items: center
				button
					font-size: 24px
					font-weight: 500
					padding-bottom: 8px
					color: $blue
					border-bottom: 2px solid $blue
					transition: all 0.2s linear
				.socials
					margin-left: 48px
					display: flex
					align-items: center
					a
						&:not(:first-child)
							margin-left: 18px
						&:hover svg
							fill: $blue
						svg
							fill: $b
			.right
				width: 65%
				height: 550px
